@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patrick+Hand&family=Ubuntu+Condensed&display=swap');
body{

    font-family: 'Patrick Hand', cursive;!important;

}
.alerta {

    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;

}
